<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Knopliments</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <base href="/"></base>
  </head>
  <body>
    <a href="/"><h1>Knopliments</h1></a>
    {{{body}}}
  </body>
</html>
